body{
    background-color: red;
}
header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #4CAF50;
}

.club {
    font-weight: bold;
    color: #ff5722;
}

table {
    width: 100%;
    border:3px;
    margin: 20px 0;
    background-color: chartreuse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.galeria-img {
    width: 30%;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
svg{
    width:800px;
    background-color: rgb(255, 139, 139);
}
circle{
    align-items: center;
}
@media screen and (max-width:800px)
{ img{width:50%;}
svg{width:100%;
background-color:aqua;

}
}
@media screen and (min-width:800px)
{
   
svg{display:inline-block;
    width:100%;}
}
